body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 25px;
  background: lightslategrey;
  color: #111;
}

button:hover {
  color: lightslategray;
  background: #222;
}